USE [ImagesKingDown]
GO
/****** Object:  Table [dbo].[TBL_SUB_CATEGORY]    Script Date: 04/22/2014 00:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_SUB_CATEGORY](
	[SUB_CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUB_CATEGORY_NAME] [varchar](1000) NULL,
	[MAIN_CATEGORY_ID] [int] NULL,
	[STATUS] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_MAIN_CATEGORY]    Script Date: 04/22/2014 00:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_MAIN_CATEGORY](
	[MAIN_CAT_ID] [int] IDENTITY(1,1) NOT NULL,
	[MAIN_CATE_NAME] [varchar](500) NULL,
	[STATUS] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_IMAGES_INFORMATION]    Script Date: 04/22/2014 00:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_IMAGES_INFORMATION](
	[IMAGE_ID] [int] IDENTITY(1,1) NOT NULL,
	[IMAGE_TITLE] [varchar](500) NULL,
	[IMAGE_CODE] [varchar](100) NULL,
	[SMALL_PHOTO] [varchar](200) NULL,
	[LARGE_PHOTO] [varchar](50) NULL,
	[SUB_CATEGORY_ID] [int] NULL,
	[KEYWORDS] [varchar](5000) NULL,
	[STATUS] [int] NULL,
	[REFF_IMAGES_ID] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ADMIN_LOGIN]    Script Date: 04/22/2014 00:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADMIN_LOGIN](
	[LOGIN_ID] [int] IDENTITY(1,1) NOT NULL,
	[LOGIN_NAME] [varchar](50) NULL,
	[LOGIN_PASSWORD] [varchar](50) NULL,
	[LOGIN_TYPE] [varchar](50) NULL,
	[LOGIN_EMAILID] [varchar](50) NULL,
 CONSTRAINT [PK_ADMIN_LOGIN] PRIMARY KEY CLUSTERED 
(
	[LOGIN_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF_TBL_IMAGES_INFORMATION_STATUS]    Script Date: 04/22/2014 00:56:01 ******/
ALTER TABLE [dbo].[TBL_IMAGES_INFORMATION] ADD  CONSTRAINT [DF_TBL_IMAGES_INFORMATION_STATUS]  DEFAULT ((1)) FOR [STATUS]
GO
/****** Object:  Default [DF_TBL_IMAGES_INFORMATION_REFF_IMAGES_ID]    Script Date: 04/22/2014 00:56:01 ******/
ALTER TABLE [dbo].[TBL_IMAGES_INFORMATION] ADD  CONSTRAINT [DF_TBL_IMAGES_INFORMATION_REFF_IMAGES_ID]  DEFAULT ((0)) FOR [REFF_IMAGES_ID]
GO
/****** Object:  Default [DF_TBL_MAIN_CATEGORY_STATUS]    Script Date: 04/22/2014 00:56:01 ******/
ALTER TABLE [dbo].[TBL_MAIN_CATEGORY] ADD  CONSTRAINT [DF_TBL_MAIN_CATEGORY_STATUS]  DEFAULT ((1)) FOR [STATUS]
GO
/****** Object:  Default [DF_TBL_SUB_CATEGORY_STATUS]    Script Date: 04/22/2014 00:56:01 ******/
ALTER TABLE [dbo].[TBL_SUB_CATEGORY] ADD  CONSTRAINT [DF_TBL_SUB_CATEGORY_STATUS]  DEFAULT ((1)) FOR [STATUS]
GO
