<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true"  targetFramework="4.0"/>
    <sessionState timeout="200"></sessionState>
    
  </system.web>
  
  <connectionStrings>
    <add name="ConString" connectionString="Data Source=localhost;Initial Catalog=ImagesKingdom1;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <appSettings>
    <add key="ConnectionString" value="server=.;database=ImagesKingdom1;Integrated Security=True;Max Pool Size=6000000;"/>
    <add key="ApplicationPath" value="http://localhost:6730/KS_Apz"/>

    <add key="ServiceTaxPercentage" value="14.5"/>
    
    <add key="FromEmailAddress" value="iamnotbond07@gmail.com"/>
    <add key="FromEmailDisplayName" value="iMAGE kINDOM"/>
    <add key="FromEmailPassword" value=""/>
    <add key="SMTPHost" value="smtp.gmail.com"/>
    <add key="SMTPPort" value="587"/>
  </appSettings>
</configuration>
